$primary-color: rgb(22, 14, 14);
$accent-color: grey;
$text-color: rgb(255, 255, 255);
$test-color: rgb(19, 11, 239);
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$mobile: 800px;