@import "abstracts/mixins";
@import "base/reset";
@import "base/colors";

* {
    box-sizing: inherit;
}
div {
    border: 3px solid black;
    background-color: orange;
    width: 150px;
    height: 150px;
    
    /* centriranje sadržaja */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 0;
    /* margin: 150px; */ /* udaljavamo element od ostalig elemenata gore-desno-dolje-lijevo */
    /* padding: 50px;
    width: fit-content; */
}
@keyframes animacija1 {
    0% {
    }
    100% {
        background-color: yellow;
        transform: translateY(700px);
    }
}
div:nth-of-type(1) {
    animation: animacija1 1.5s linear;
}
@keyframes animacija2 {
    0% {
        left: 0;
    }
    50% {
        transform: rotate(180deg);
        left: 700px;
    }
    100% {
        transform: rotate(0deg);
        left: 0;
    }
}
div:nth-of-type(2) {
    position: relative;
    animation: animacija2 2s ease-in-out;
}
@keyframes animacija3{
    0% {
        left: 0;
    }
    50% {
        transform: rotate(360deg);
        left: 700px;
    }
    100% {
        transform: rotate(0deg);
        left: 0;
    }
}
div:nth-of-type(3){
    position: relative;
    animation: animacija3 2s ease-in-out 2s;
}
