
body{
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
header{
    color: red;
}
footer{
    color: orange;
}
p:first-child{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}
/*p:last-child{
    font-size: 14px; 
}*/
p:nth-child(2){
    font-family: 'Courier New', Courier, monospace;
}
p:first-of-type{
    font-weight: bold;
}
