@mixin setFlexProperties($justifyContent, $alignItems) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
  }

  @mixin setmargins($justifyMargin) {
    margin: $justifyMargin;   
  }