@import url('https://fonts.googleapis.com/css2?family=Inter&family=Prata&display=swap');
body{
    background-color: black;
    font-family: 'Prata';
    color:rgb(170, 170, 170);
}
.ime{
    font-size: 18px;
    text-align: left;
}
.topnav a{
    font-size: 18px;
    text-align: center;
    color:rgb(170, 170, 170);
}

.button{
    background-color: rgb(255, 217, 0);
    text-align: center;
    font-weight: bold;
    color: black;
    width: 150px;
    height: 50px;
    float:right;
}
h1{
    font-family: 'Inter';

}
pre{
    font-family: 'Prata';
    font-size: 14px;

}

img#one{
    display: inline-block;
    padding: 80px;
    width: 60px;

}
.two{
    display: inline-block;
    padding: 5px;
}

h2{
    font-family: 'Inter';
}
.left{
    position: relative;
    left: auto;
}
.right{
    position: absolute;
    top: 137%;
    width: 80%;
    text-align: right;

}
.right1{
    position: absolute;
    top: 130%;
    width: 80%;
    text-align: right;

}
.four{
    background-color: rgb(56, 56, 56);
}
section>p>button{
        background-color: rgb(255, 217, 0);
        text-align: center;
        font-weight: bold;
        color: black;
        width: 150px;
        height: 50px;
        float:right;
           
}
footer{
    background-color: rgb(56, 56, 56);
}
footer>a>img{
    height: 30px;
    width: 30px; 
}

